body{} 
.w {width: 980px;margin: 0 auto;}
.White{ background:#FFF;}
.header-cheek >div{ border-bottom:1px solid #cfcfcf; overflow:hidden; height:auto;background:#f2f2f2 url(../image/login-icon.png) no-repeat 580px 25px; }

/* 注册 */
.cheek{ border:1px solid #ddd; background:#f5f5f5; margin:20px auto 10px auto; overflow:hidden;}
.ts{overflow:hidden; float:left;}
.ts h1{ border-bottom:3px solid #e3393c; float:left; width:105px; color:#e3393c; height:57px; line-height:57px; text-align:right;}
.ts h2{ float:left; width:875px; color:#878787; text-align:right; background:url(../image/cheek.jpg) repeat-x bottom; margin-top:41px; font-size:14px; font-weight:normal;}
.ts h2 a{color:#FF0000; padding-right:10px;}
.register-box{ float:left; overflow:hidden;  margin:50px 100px 60px 250px;}
.register-box .title{ background:url(../image/check_01.jpg) no-repeat; height:50px; overflow:hidden;}
.register-box .title span{background:url(../image/reg-icon.jpg) no-repeat; height:37px; line-height:37px; float:left; width:110px; text-indent:-9999px; color:#0000CC; margin-left:10px;}
.register-box .kv-item{ overflow:hidden; font-size:14px; padding-bottom:18px;}
.register-box .kv-item span{ float:left; width:100px; height:37px; line-height:37px; text-align:left; padding-left:10px; padding-top:4px;}
.register-box .kv-item span.jb_sp1{float:left; width:100px;color:#E52138; font-size:18px;}
.register-box .kv-item .kv-item-inwrapper { float:left; position: relative;}
.register-box .kv-item .kv-item-inwrapper .kv-item-text { position: absolute; top:37px;left:0; line-height:14px;font-size: 12px; color:#E52138;}
.register-box .kv-item .i-text {width: 292px;padding: 0 2px;height:35px;line-height: 35px;color: #666;border: 1px solid #ddd; text-indent:10px;}
.register-box .kv-item .i-shorttext{width:170px;padding: 0 2px;height:35px;line-height:35px;color: #666;border: 1px solid #ddd;}
.register-box .btn-captcha{border:0;display: inline-block;width: 119px;height: 37px;background:url(../image/reg-icon.png) no-repeat 0 -46px; margin-left:4px; text-indent:-9999px;}
.register-box .btn-long{display: inline-block;zoom: 1;width:98px;height: 37px;background:url(../image/reg-icon.png) no-repeat 0 -93px; text-indent:-9999px; margin-top:4px;}
.register-box .form-meta{ padding-left:110px; font-size:12px; line-height:22px;}
.register-box .compType{ margin:4px 0 0 0;}
.register-box .kv-item span.codeInfo{ height:auto; line-height: 20px;width: 320px;}

/* 帮助中心 */
.help-main{ overflow:hidden; margin-top:10px; margin-bottom:10px;}
.help-left{ border:1px solid #e52139; float:left; width:205px;}
.help-left h1{ background:#e52137 url(../image/reg-icon.png) no-repeat 40px -132px ; height:32px; color:#fff; text-align:center;}
.help-left h2{color:#252525; padding-left:54px;background:url(../image/help-bg.jpg) repeat-x; height:30px; line-height:30px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.help-left ul{}
.help-left li{ height:28px; line-height:28px; padding-left:64px;}
.help-right{ float:right; width:760px;}
.help-right .title{ background:#f4f4f4 url(../image/reg-icon.png) no-repeat 0 -166px ; font-size:18px; height:22px; margin-bottom:4px; padding:10px 0 0 40px; font-weight:bold;}
.help-right .text-box{ border-top:1px solid #dcdcdc; background:#f8f8f8; color:#2a2a2a;}
.help-right .text-box h2{ background:#f5f5f5; height:38px; line-height:38px; padding-left:6px;}
.help-right .text-box p{ padding:10px 20px;}

.login-bg .form{width: 420px;float:left;}
/* 登录 
.button,.login_line,.getCode,.getCode_img{ background: url(../image/login-icon.png) no-repeat ;}
.login-bg{ background:#f2f2f2}
.login-bg .form{width: 420px;float:left;}
.center{ background:#f2f2f2; margin:80px auto; overflow:hidden;}
.center .ad{ float:left; width:560px; height:367px;}
.center .ad img { margin-top:-50px;}
.login { float:right;}
.getCode_img{float:left;}
#jcaptchaCode{width:150px;}
.login_line{ width:281px;padding: 0 2px;height:46px;line-height: 35px;color:#999;background-position:0 -68px; border:none; padding-left:20px; font-size:14px; margin-right:10px;}
.login .wrong{background-position:0 -130px; }
.login li{ margin-bottom:10px; overflow:hidden;color:#999;}
.login li a{color:#999; line-height:45px;}
.login li a:hover{color:#F00;}
.button{ width:144px; height:45px; background-position:0 -249px; font-size:14px; color:#fff; font-weight:bold; margin-right:14px;}
.b2{ background-position:-158px -249px;color:#000;}
.getCode{float:left;width:140px; height:45px;padding: 0 2px;border:none; background-position:-158px -190px; margin-right:14px;}
.jcaptcha-img{ float:left;width:114px;height:45px;background-position:-158px -190px;margin-right:10px}
.login-bg .remember input{ margin:0 4px;background:#fff;}
.login .l1{ margin-left:66px;}*/
.other_login{color:#999; font-size:14px; font-weight:bold; margin-top:50px;}
.other_login span{float:left;heigth:26px; line-height:26px;}
.other_login .i1,.other_login .i2,.other_login .i3,.other_login .i4{ background: url(../image/icon1.png) no-repeat; width:26px; height:26px; text-indent:-9999px; margin:0 4px; }
.other_login .i1{ background-position:-490px -138px; float:left;}
.other_login .i2{ background-position:-526px -138px; float:left;}
.other_login .i3{ background-position:-562px -138px; float:left;}
.other_login .i4{ background-position:-596px -138px; float:left;}