<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
	var base = "${base}";
</script>
<script type="text/javascript" src="${base}/resource/thirdparty/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/jquery-2.1.3.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/jquery.tools.min.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/jquery.cookie.js" ></script>
<script type="text/javascript" src="${base}/resource/thirdparty/jquery.form.js" ></script>
<!--validator begin -->
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.metadata.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.validate.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.validate.methods.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/validator/jquery.validate.cn.js"></script>
<!--validator end 
<link href="${base}/resource/thirdparty/jQuery-Validation-Engine/css/validationEngine.jquery.css" rel="stylesheet">
<link href="${base}/resource/thirdparty/jQuery-Validation-Engine/css/template.css" rel="stylesheet">
<script src="${base}/resource/thirdparty/jQuery-Validation-Engine/js/jquery.validationEngine.js" charset="utf-8" type="text/javascript"></script>
<script src="${base}/resource/thirdparty/jQuery-Validation-Engine/js/jquery.validationEngine-zh_CN.js" charset="utf-8" type="text/javascript"></script>
-->

<script type="text/javascript" src="${base}/resource/thirdparty/JSON.js" ></script>
<script type="text/javascript" src="${base}/resource/js/common.js" ></script>
<script type="text/javascript" src="${base}/resource/thirdparty/jquery.lSelect.js" ></script>
<script type="text/javascript" src="${base}/resource/thirdparty/jquery.layout-latest.js" ></script>
<script type="text/javascript" src="${base}/resource/thirdparty/liguerUI125/js/ligerui.all.js"></script>
<link rel="stylesheet" href="${base}/resource/thirdparty/liguerUI125/skins/Aqua/css/ligerui-all.css" type="text/css" />
<link rel="stylesheet" href="${base}/resource/thirdparty/liguerUI125/skins/Gray/css/all.css" type="text/css" />
<script type="text/javascript" src="${base}/resource/js/LG.js" ></script>
<script type="text/javascript" src="${base}/resource/js/ligerui.expand.js" ></script>
<script type="text/javascript" src="${base}/resource/thirdparty/nicescroll/jquery.nicescroll.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/nicescroll/jquery.nicescroll.plus.js"></script>
<script type="text/javascript" src="${base}/resource/js/selectDialog.js"></script>
<script type="text/javascript" src="${base}/resource/thirdparty/liguerUI125/js/plugins/ligerDateRangeEditor.js"></script>
<link rel="stylesheet" href="${base}/resource/css/main.css" type="text/css" />
<link rel="stylesheet" href="${base}/resource/css/common.css" type="text/css" />
<link rel="stylesheet" href="${base}/resource/css/icon.css" type="text/css" />
<script type="text/javascript">
var ApprovalStatus = {};
ApprovalStatus.approvaling = "审批中";
ApprovalStatus.approvaled = "审批完成";
ApprovalStatus.waitSubmit = "未提交";
ApprovalStatus.submited = "已提交";
ApprovalStatus.dealed = "已处理";

var ProduceType = {};
ProduceType.purchase = "成品采购"; 
ProduceType.purchaseId=151;
ProduceType.outProduce = "委外加工";
ProduceType.outProduceId=152;
ProduceType.selfProduce = "生产加工";

var AjaxResult = {Type:{}};
AjaxResult.Type.successType="SUCCESS";
</script>